OPENAI_API_KEY=openaikey
APP_URL=theonedollargold.com
VITE_SUPABASE_URL=https://example.com
VITE_SUPABASE_ANON_KEY=examplekey
SUPABASE_URL=https://example.com
SUPABASE_ANON_KEY=examplekey
SUPABASE_SERVICE_KEY=example key
PORT=3000